USE [master]
GO
/****** Object:  Database [pubs]    Script Date: 26/10/2024 10:30:44 ******/
CREATE DATABASE [pubs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pubs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pubs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pubs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pubs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pubs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pubs]
GO
/****** Object:  Table [dbo].[titles]    Script Date: 26/10/2024 10:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titles](
	[title_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[type] [nvarchar](50) NULL,
	[pub_id] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[pubdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[titles] ON 

INSERT [dbo].[titles] ([title_id], [title], [type], [pub_id], [price], [pubdate]) VALUES (1, N'Business Book 1', N'business', 1, CAST(30.00 AS Decimal(10, 2)), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[titles] ([title_id], [title], [type], [pub_id], [price], [pubdate]) VALUES (2, N'Business Book 2', N'business', 1, CAST(25.00 AS Decimal(10, 2)), CAST(N'2023-01-02' AS Date))
INSERT [dbo].[titles] ([title_id], [title], [type], [pub_id], [price], [pubdate]) VALUES (3, N'Business Book 3', N'business', 1, CAST(20.00 AS Decimal(10, 2)), CAST(N'2023-01-03' AS Date))
SET IDENTITY_INSERT [dbo].[titles] OFF
GO
USE [master]
GO
